  body {
      font-family: 'Arial', sans-serif;
      box-sizing: border-box;
      min-height: 100vh;
      /*display: flex; */
      align-content: center;
      justify-content: center;
      align-items: center;
      background-color: #11000F;
      margin: 0;
      padding: 0;
      color: #FFFFFF;
  }


  header {
      text-align: center;
      padding: 20px;
  }

  section {
      margin: 20px;
  }

  h1,

  .gradient {
      font-size: clamp(2rem, 8vw, 6rem);
  }

  h1 {
      color: #ffffff;
  }

  .gradient {
      background-image: linear-gradient(92deg, #1f1bef7d, #b01eef76, #cb4ce498, #ff1984);
      -webkit-text-fill-color: #0000;
      -webkit-background-clip: text;
  }

  h4,

  .gradient2 {
      font-size: clamp(2rem, 5vw, 8rem);
  }

  h4 {
      color: #ffffff;
  }

  .gradient2 {
      background-image: linear-gradient(92deg, #a198f5 30%, #c798f5 30%, #a351f5, #f42f2f);
      -webkit-text-fill-color: #0000;
      -webkit-background-clip: text;
  }

  h2,
  h3 {
      color: #ff1984;
      /* Azul */
  }

  h2 {
      border-bottom: 2px solid #ff1984;
      padding-bottom: 5px;
      margin-bottom: 10px;
  }

  p {
      margin-bottom: 10px;
  }

  ul {
      list-style-type: none;
      padding: 0;
  }

  li {
      margin-bottom: 5px;
  }

  .education,
  .experience {
      margin-bottom: 20px;
  }

  .education h3,
  .experience h3 {
      align-items: start;
      color: #cb4ce498;
      /* Azul */
  }

  .skills {
      /* display: flex; */
      flex-wrap: wrap;
  }

  .skills div {
      background-color: #0F75A8;
      /* Azul */
      color: white;
      padding: 5px;
      margin: 5px;
      border-radius: 5px;
  }

  #container {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  footer {
      text-align: center;
      padding: 20px;
      color: #808080;
      background-color: #11000F;
      /* Gris */
  }


  .swiper-hero {
      width: 50%;
      margin-bottom: 50px;
      align-items: center;
  }

  .swiper-hero img {
      object-fit: cover;
      height: 500px;
      width: 100%;
  }


  #d1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
  }

  #d2 {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  }


  #d3 {
      display: flex;
      justify-content: space-around;
      text-align: center;
  }


  fieldset {
      border-left: transparent;
      border-bottom: transparent;
      border-right: transparent;
      border-color: #ff1984;
  }

  #down img {
      margin-left: 10px;
      margin-right: 10px;
  }

  a {
      color: white;
      /* Color del texto blanco */
      text-decoration: none;
      /* Elimina el subrayado predeterminado de los enlaces */
      padding: 10px;
      /* Opcional: agregar relleno para mejorar el aspecto */
      border-radius: 5px;
      /* Opcional: agregar bordes redondeados */
  }

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

  *,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }



  img {
      width: 100%;
      height: 100%;

  }

  /* .logos {
      width: 5%;
      height: 5%;
  } */

  .container {
      width: 100%;
      width: 900px;
      height: 400px;
      display: flex;
      gap: 10px;
      margin-inline: 50px;
  }

  .card {
      min-width: 70px;
      height: 100%;
      border-radius: 30px;
      overflow: hidden;

      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      cursor: pointer;
      position: relative;
      transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);

      --transition-timing: 0.25s;
  }

  .card.active {
      flex-grow: 100;
  }

  .card>.background {
      position: absolute;
      inset: 0;
      object-fit: cover;
      object-position: left;
      filter: brightness(0.8);
      z-index: -1;
      transition: var(--transition-timing) ease;
  }

  .card.active>.background {
      filter: brightness(1) grayscale(0);
  }

  .card>.card-content {
      display: flex;
      align-items: center;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 20px;
      overflow: hidden;
      transition: var(--transition-timing);
      z-index: 10;
  }

  .card.active>.card-content {
      inset: 20px;
      top: auto;
  }

  .card-content * {
      transition: var(--transition-timing);
  }

  .card-content>.profile-image {
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
  }

  .card.active .profile-image {
      border: 1px solid rgb(110, 252, 205);
  }

  .profile-image>svg {
      stroke: #fefefe;
  }

  .card.active .profile-image>svg {
      stroke: rgb(110, 252, 205);
  }

  .card-content>.title {
      white-space: pre;
      margin-left: 10px;
      translate: 0 100%;
      opacity: 0;
      transition-delay: 0.3s;
  }

  .card.active .title {
      opacity: 1;
      translate: 0 0;
  }

  .card>.backdrop {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100px;
      z-index: 0;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
  }